<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    Placeholder from context (see views)-->
    <title>{{title|title}}</title>
</head>
<body>
<h1>{{header}}</h1>
<p>{{user}}</p>


{% if promotion %}
{% for product in products_promotion %}

<div style="color:red">{{ product.name }} {{ product.price }} RUB</div>
<br>

{% endfor %}

{% else %} <!--elif-->

{% for product in products %} <!--Шаблонный тэг-->
<div style="color:green">{{ product.name }} {{ product.price }} RUB</div>
<br>
<!--Конец цикла for -->
{% endfor %}
{% endif %}

</body>
</html>